SOAP/JAX_WS_CLIENT_CF/src/main/resources/wsdl/hello.xsd

<xs:schema xmlns:tns="http://ws.cizek.cz" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cizek.cz">

    <xs:element name="sayHelloRequest" type="tns:sayHelloRequest" />

    <xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />

    <xs:complexType name="sayHelloResponse">
        <xs:sequence>
            <xs:element name="greeting" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sayHelloRequest">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>